<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OTP WebApp</title>

  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>OTP WebApp</h1>
  <button id="get-otp">Get OTP</button>
  <div id="form-container">
    <form action="">
      <label for="otp-input">OTP Code</label>
      <input type="text" name="otp" id="otp-input" placeholder="0000"/>
      <button type="submit">Send OTP</button>
    </form>
  </div>

  <script src="/script.js" type="text/javascript"></script>
</body>
</html>